/* Styles for Grid Layout */
.my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}

/* Style for grid items (photo cards) */
.my-masonry-grid_column > div { 
  margin-bottom: 30px;
  border-radius:4px;
}
.my-masonry-grid_column {
  width:100% !important;
}

/* Main layout and sidebar styles */
.MuiAppBar-colorPrimary {
  background-color: #127e7a !important;
}

.MuiCircularProgress-colorPrimary {
  color: #127e7a !important;
  background: transparent !important;
  position: fixed;
  top: 50%;
  left: 50%;  
}

.no-display {  
  display:none;
}

.paragraph {
  margin:25px;
}

.datePicker {
  color:#fff;
}

.MuiSvgIcon-root {
  color:#fff;
}

.hamburgerIcon {
  margin-right:25px;
}

.MuiFormLabel-root {
  color: #127e7a !important;
}

.Mui-focused {
  color: #127e7a !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #127e7a !important;
}

.MuiSnackbarContent-root {
  background-color: #127e7a !important;
}

/* Styles for calendar popup */

.MuiPickersCalendarHeader-iconButton {
  background-color: transparent !important;
}

.MuiPickersCalendarHeader-switchHeader {
  background-color: #9faeff !important;
}

.MuiPickersBasePicker-pickerView {
  margin-top: -7px;
}