.nasaPhoto {
  width:100%;
}

.nasaPhotoCard {
  width:100%;
}

.cardWrapper {
  display:flex;
}

.hdNasaPhoto {
  max-height:98vh;
}

.hdModal { /* modal that displays HD image only */
  display: flex;
  align-items: center;
  justify-content: center; 
  overflow-y: auto;
  margin-top: 10px;
}
.hdModal-Content {
  background-color: #000;
  border: 2px solid #bababa;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.expand {
  transform: rotate(0deg);
  margin-left: auto !important;
  transition: transform 3s;
}

.expandOpen {
  transform: rotate(180deg);
  margin-left: auto !important;
  transition: transform 3s;
}

.faveIcon {
  color: rgb(36, 145, 112);
}

.MuiCard-root {
  overflow: hidden;
  background-color: #282828 !important;
  color: #fff !important;
}

.MuiInputBase-input { 
  color:white !important;
}

.MuiInputLabel-animated {
  color:white;
}

#faveIcon {
  color: #127e7a;
}